/* body {
  padding: 0;
  margin: 0;
  background-color: rgb(255, 255, 255);
  font-family: 'Roboto';
  width: 100%;
} */

/*
aside {
  color: #fff;
  width: 250px;
  padding-right: 20px;
  height: 100vh;
  background-color: rgb(39, 39, 39);

}

aside a {
  font-size: 12px;
  color: gray;
  display: block;
  padding: 12px;
  padding-right: 30px;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}

aside a:hover {
  color: rgb(32, 31, 31);
  background: gray;
  outline: none;
  position: relative;
  background-color: #fff;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

aside a i {
  margin-left: 5px;
}

aside a:hover::after {
  content: "";
  position: absolute;
  background-color: transparent;
  bottom: 100%;
  left: 0;
  height: 35px;
  width: 35px;
  border-bottom-left-radius: 18px;
  box-shadow: 0 20px 0 0 #fff;
}

aside a:hover::before {
  content: "";
  position: absolute;
  background-color: transparent;
  top: 38px;
  left: 0;
  height: 35px;
  width: 35px;
  border-top-left-radius: 18px;
  box-shadow: 0 -20px 0 0 #fff;
}

aside p {
  margin: 0;
  padding: 40px 0;
} */



/* .my_nav .navbar{
  margin-top: -10px;
  font-size: 16px;
  color: rgb(78, 78, 78);
} */

.panel .text1 {
  font-size: 18px;  
}

.panel .bi {
  color: green;
  font-size: 13px;
}

.panel .img {
  border-radius: 10px;
  width: 40px;
}


.panel .text4 {
  font-size: 13px;
  color: rgb(78, 78, 78);
}

.panel .text5 {
  font-size: 13px;
  color: rgb(78, 78, 78);
}

.panel .text6 {
  margin-top: -15px;
  font-size: 15px;
}

.panel .text9 {
  font-size: 13px;
  color: rgb(78, 78, 78);
}

.panel .text10 {
  margin-top: -15px;
  font-size: 15px;
}

.panel .cart {
  border-radius: 7px;
  background-color: rgb(53, 156, 67);
}

.panel .text11 {
  color: #fff;
  font-size: 13px;
}

.panel .img1{
  margin-right: 290px;
  margin-top: -80px;
  border-radius: 20px;
  width: 30px;
}

.panel .img2{
  margin-right: 265px;
  margin-top: -125px;
  border-radius: 20px;
  width: 30px;
}

.panel .img3{
  margin-right: 245px;
  margin-top: -175px;
  border-radius: 20px;
  width: 30px;
}

.panel .img4{
  margin-right: 225px;
  margin-top: -220px;
  border-radius: 20px;
  width: 30px;
}

.panel .img5{
  margin-right: 205px;
  margin-top: -270px;
  border-radius: 20px;
  width: 30px;
}

.panel .text16{
  font-size: 15px;
  color: rgb(78, 78, 78);
}

.panel .imgc {
  border-radius: 20px;
  width: 30px;
}

.label {
  display: inline-flex;
  height: 2rem;
  align-items: center;
  border-radius: 10px;
  --tw-bg-opacity: 1;
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 0.875rem;
  line-height: 1.4rem;
  font-weight: 500;
  --tw-text-opacity: 1;
  color: rgba(22, 51, 0, 1);
  color: rgba(22, 51, 0, var(--tw-text-opacity));
}
.label-sm {
  height: 1.625rem;
  padding-left: 0.625rem;
  padding-right: 0.625rem;
  font-size: 0.75rem;
  line-height: 1.2rem;
}

.custom-nav {
  padding: 15px 0px;
  width: 100%;
  border-radius: 0px;
  z-index: 999;
  margin-bottom: 0px;
  transition: all 0.5s ease-in-out;
  background-color: transparent;
}
.custom-nav.stickyadd {
  background-color: #fff;
  padding: 8px 0;
  box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}







